body {
    padding: 0;
    margin: 0;
}


.close-btn {
    position: fixed;
    z-index: 9;
    padding: 1em 2em;
    /* width: 0.4em; */
    /* height: 3.75em; */
    border-radius: 6em 0 0 6em;
    background-color: rgb(233, 193, 120);
    top: -5.5%;
    vertical-align: middle;
    transform: translate(0, -50%);
    color: #eee;
    transform: rotate(-90deg);
    transition: 0.3s ease-out;
    cursor: pointer;
}

#save-btn {
    position: absolute;
    right: 52%;
}
.save-btn {
    width: 1em;
    height: 60px;
    cursor: pointer;
   
}
.save-icon {
    transform: rotate(90deg) scale(1.4);
}

.open-btn {
    position: fixed;
    z-index: 9;
    padding: 1em 2em;
    /* width: 0.4em; */
    /* height: 3.75em; */
    border-radius: 6em 0 0 6em;
    background-color: rgb(233, 193, 120);
    top: 50%;
    top: 0;
    vertical-align: middle;
    text-align: center;
    /* transform: translate(0, -50%); */
    color: #eee;
    transition: 0.3s ease-out;
}
#main {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
#list {
    background-color: orange;
    overflow-y: auto;
    position: absolute;
    width: 50%;
    height: 100%;
}
#player {
    background-color: pink;
    display: flex;
    flex-direction: unset;
    position: relative;
    margin-left: 50%;
    justify-content: center;
    width: 50%;
    height: 100vh;
}
#panel {
    position: relative;
    background-color: black;
    content: "";
    width: 80%;
    height: 30%;
    margin-top: 60%;
    z-index: 3;
    box-shadow: 2.5px 2.5px 7px 0 rgb(100,100,100);
}
#panel2 {
    position: relative;
    background-color: black;
    content: "";
    width: 80%;
    height: 30%;
    margin-top: 60%;
    z-index: 3;
    box-shadow: 2.5px 2.5px 7px 0 rgb(100,100,100);
}
#player #panel #controlbtns {
    display: flex;
    
    margin-left: 10%;
    margin-top: 6%;
};
#player2 #panel2 #controlbtns2 {
    display: flex;
    
    margin-left: 10%;
    margin-top: 6%;
};


#panel #nowplaying {
    background-color: white;
    width: 50%;
    height: 46px;
    z-index: 4;
    margin-top: -1%;
    padding-top: 0;
}

#panel2 #nowplaying2 {
    background-color: white;
    width: 100%;
    height: 46px;
    z-index: 4;
}

#playing {
    margin-top: 0;
    padding: 2%;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    height: 45px;
}
#playing2 {
    margin-top: 0;
    padding: 7px;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

/* #playlist {

} */

#player #aSec {
    
    position: fixed;
    z-index: 4;
    margin-top: 0;
    margin-left: 13vw;
    
    background-color: black;
    width: 200px;
    height: 70px;
    box-shadow: 0 3px 6px 0 rgb(100,100,100);
}
::-webkit-file-upload-button {
    background-color: red;
    border-color: red;
    
}
#fileIn {
    color: white;
    width: 200px;
    font-family: 'Ubuntu', sans-serif;
}
.sng {
    position: relative;
    /* display: grid;
    grid-template-rows: auto;
    grid-template-columns: 95% 5%; */
    transition: 0.3s ease-in-out;
    width: 100%;
}
.sng .playnext {
    position: absolute;
    visibility: hidden;
    z-index: 12;
    bottom: 50%;
    /* top: 30%; */
    /* left: 80%; */
    right: 0;
    transform: translateX(-50%);
    width: 200px;
    cursor: pointer;
    height: 30px;
    width: 15%;
    padding: 6px;
    background-color: white;
    box-shadow: 0 4px 5px rgba(100, 100, 100, 0.8);
    /* transition: 0.3s ease-in; */
    animation: fade-out 0.18s;
}
.sng .show {
    visibility: visible;
    animation: fade-In 0.18s;
}

@keyframes fade-In {
    from { opacity: 0 }
    to { opacity: 1; }
}
@keyframes fade-out {
    from{ opacity: 1; }
    to { opacity: 0; }
}
.sng .show:active {
    background-color: rgb(200, 200, 200);
}
.sng .queue:hover {
    background-color: rgb(200, 200, 200);
}
/* .sng .options {
    width: 5%;
    height: 100%;
    background-color: #fff;
} */
.but {
    border: 1px solid;
    border-color: black;
    margin-left: 3%;
    height: 70px;
    width: 70px;
    background-color: black;
    color: white;
}

.ic {
    color: white;
    font-size: 38px;
}

#listing {
    padding: 0;
    overflow-y: hidden;
}

ul {
    width: 100%;
    margin: 0;
    margin-left: 0;
    overflow-y: auto;
    padding-left: 0;
}
.songs {
    background-color: white;
    padding: 2% 0;
    padding-left: 2%;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}
.songs:hover {
    background-color: rgb(200, 200, 200);
    box-shadow: 0 3px 4px 0 rgb(200, 200, 200);
    cursor: pointer;
    transition: 0.17s ease-out;
}
#alert {
    position: absolute;
    margin-top: 10%;
    margin-left: 32%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: white;
    transition: 0.3s ease-out;
    box-shadow: 0 3px 5px 0.7px rgb(100, 100, 100);
}

#alert::before {
    filter: opacity(70%) brightness(40%);

}
#alert h5 {
    
    font-family: 'Montserrat', sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: 5%;
    /* margin-left: %; */
    font-weight: 100;
    
}
#ok {
    width: 40px;
    margin-left: 40%;
    height: 35px;
    padding-left: 9px;
    
}
#panel2 {
    display: none;
}
#add {
    border-radius: 0;
}
#panel2 #controlbtns2 {
    margin: 0;
    display: flex;
    width: 70%;
    height: 85px;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0;
}
.but2 {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: black;
    margin-right: 1%;
}
.ic2 {
    font-size: 30px;
    color: white;
}
#nowplaying2 #playing2 { 
    height: 30px;
    width: 100vw;
    font-size: 14px;
}

::-webkit-file-upload-button {
    font-size: 11px;
}
#panel2 {
    position: fixed;
    bottom: 0;
    z-index: 5;
    height: 23%;
    width: 100%;
}

/* .sng::after {
    width: 50px;
    height: 50px;

    position: absolute;
    left: 100%;
    content: '';
    background: #0f0;
} */
@media (max-width: 1080px) {
    #player {
        display: none;

    }
    #panel2 {
        display: flex;
        z-index: 1000000000;
        flex-direction: column;
        padding: 0;
        
    }
    #list{
        width: 100%;
        height: 77%;
    }
    .songs:hover{
        background-color: #fff;

    }
    .songs:active {
        background-color: rgb(200, 200, 200);
        box-shadow: 0 3px 4px 0 rgb(200, 200, 200);
        cursor: pointer;
        transition: 0.17s ease-out;
    }
    #save-btn {
        right: 0;
    }
    .popup .aSec2 {
        visibility: hidden;
        position: absolute;
        z-index: 12;
        bottom: 125%;
        transform: translateX(-50%);
        background-color: black;
        width: 200px;
        height: 70px;
        box-shadow: 0 3px 4px 0 rgb(100,100,100);
    }
    .popup .aSec2::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    .popup .show {
        visibility: visible;
        -webkit-animation: fade-in 1s;
        animation: fade-in 1s;
    }
    @-webkit-keyframes fade-in {
        from{ opacity: 0; }
        to { opacity: 1; }
    }
    
    @keyframes fade-in {
        from{ opacity: 0; }
        to{ opacity: 1; }
    }
    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}